name: Flutter

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:
    strategy:
      matrix:
        channel: [stable, beta]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1

    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'

    - uses: subosito/flutter-action@v1
      with:
        channel: ${{ matrix.channel }}

    - name: Get pub files
      run: flutter pub get
    
    - name: Dart code style check
      run: |
          output=$(flutter format -n .)
          if [ ! -z $output]; then
            exit 1
          fi;

    - name: Unit Test
      run: |
        flutter test
        cd example && flutter test

    - name: Build Apk
      working-directory: example
      run: |
        flutter pub get
        flutter build apk
    
    - name: Build iOS
      working-directory: example
      run: |
        cd ios && pod install --repo-update && cd -
        flutter build ios --release --no-codesign

